.body{
    font-family: 'Zen Kurenaido', sans-serif;
    background-color: black;
    color:white;
    
}
h1{
    text-align: center;
    color:rgb(83, 103, 141)
}
.cell{
    background-color: rgb(61, 61, 61);
    display: inline-block;
    width: 6%;
    text-align: center;
    min-height: 44px;
    padding-top: 18px;
    font-size: x-large;
    border-color: rgb(95, 95, 95);
    border-style: solid;
    border-width: 2px;
    margin: 2px;
    border-radius: 6px;
    color: white;
}